<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <iframe src="https://embed.spotify.com/?uri=<%= playlist.embed_string %>"
      width="300" height="380" frameborder="0" allowtransparency="true">
    </iframe>
</body>
</html>
