<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <% songs.each do |song| %>
  <%= song %>
    <iframe src="https://embed.spotify.com/?uri=<%= song.id %>"
      width="300" height="380" frameborder="0" allowtransparency="true">
    </iframe>
  <% end %>
</body>
</html>
